.containerm {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 350px;
	max-width: 100%;
    min-height: 350px;
    text-align: center;
}

#inputm{
    margin-top: 5%;
    align-self: center;
    max-width: 250px;
    text-align:start;
    justify-self: center;
}

#inputm1{
    margin-top: 1%;
    align-self: center;
    max-width: 250px;
    text-align:start;
    justify-self: center;
}

#h1m {
    font-weight: bold;
    margin-top: 8%;
    font-size: 30px;
}