@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.containerp{
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 500px;
	max-width: 100%;
    min-height: 550px;
    text-align: center;
    margin-top: 3%;
}




#inputp{
    margin-top: 7%;
    max-width: 450px;
    height: 100px;
    text-align: start;
    background-color: #eee;
	border: none;
	padding: 12px 15px;
    width: 100%;
    
}

#btnp{
    margin-top: 15%;
}

